# ===========================
# Node / Angular
# ===========================
orders-app-ui/node_modules/
orders-app-ui/dist/
orders-app-ui/tmp/
orders-app-ui/out-tsc/
orders-app-ui/.angular/cache/
orders-app-ui/.sass-cache/
orders-app-ui/.editorconfig
orders-app-ui/.env
orders-app-ui/.env.*

# ===========================
# Java / Spring Boot
# ===========================
orders-app-api/target/
orders-app-api/.classpath
orders-app-api/.project
orders-app-api/.settings/
orders-app-api/.env
orders-app-api/.env.*

# ===========================
# IDEs
# ===========================
**/.idea/
**/.vscode/
**/*.iml

# ===========================
# SOs e misc
# ===========================
.DS_order
Thumbs.db
*.log