table {
  width: 100%;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.example-expanded-row {
  background: #f5f5f5;
}

.mat-mdc-row .mat-mdc-cell {
  cursor: pointer;
}
